<div class="max-w-5xl mx-auto relative lg:mt-16 gallery-content flex">
    <div class="sidebar-right py-1 px-3">
        <div class="search-container section-spacer flex justify-between">
            <input type="text" id="searchInput" class="search-input w-100 py-1 px-3" placeholder="Enter movie title">
            <button id="searchButton" class="search-button btn">Search</button>
        </div>
        
        <div class="filters-container section-spacer">
            <div class="flex justify-between">
                <select id="sortBy" class="w-100 py-1 px-3" name="sortBy">
                    <option value="popularity.desc" selected>Popularity Descending</option>
                    <option value="popularity.asc">Popularity Ascending</option>
                    <option value="vote_average.desc">Average Rating Descending</option>
                    <option value="vote_average.asc">Average Rating Ascending</option>
                    <option value="vote_count.desc">Rating Count Descending</option>
                    <option value="vote_count.asc">Rating Count Ascending</option>
                </select>
            </div>
            
            <div class="section-spacer">
                <h3>Select language:</h3>
                <input type="checkbox" id="lang" name="lang" value="en" />    
                <label for="lang">English Movies Only</label>
            </div>

            <h3>Select genres:</h3>
            <div id="genreContainer"></div>

            <button id="filterButton" class="filter-button btn w-100 mt-4">Filter</button>
        </div>
    </div>

    <div class="movies-container"></div>
</div>

<style>
    h3 {
        font-size: 1.25rem;
        font-weight: 700;
    }

    .gallery-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .sidebar-right {
        border: 2px solid #001048;
        border-radius: 20px;
        background-color: #e7f5ff;
        height: 100%;
    }


    .genre-checkbox {
        margin-right: 1rem;
    }

    .section-spacer {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    h3, 
    b,
    p {
        font-feature-settings: normal;
    }

    /* Media queries for mobile */
    @media (max-width: 599px) {
        .checkbox-container {
            width: 50%;
        }

        .movie-card {
            flex-direction: column;
        }

        .movie-card img {
            max-width: 200px;
            margin: 0 auto;
        }

        .movie-meta {
            padding-top: 1rem;
        }
    }

    /* Media queries for tablet */
    @media (min-width: 600px) and (max-width: 1023px) {
        #genreContainer {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }

        .checkbox-container {
            width: 25%;
        }
    }

    /* Media queries for all but desktop */
    @media (max-width: 1023px) {
        .sidebar-right {
            margin-bottom: 1rem;
        }
    }

    /* Media queries for desktop */
    @media (min-width: 1024px) {
        .gallery-content {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
        }

        .sidebar-right {
            width: 40%;
            position: sticky;
            top: 20px;
        }

        .movies-container {
            width: 60%;
        }
    }
</style>

<script>
    $(document).ready(function() {
        const apiKey = "9bd4cf4a380133fab5c5471c64c5a71f";
        var apiUrl = `https://api.themoviedb.org/3/discover/movie?api_key=${apiKey}`;

        // Make AJAX request using jQuery
        apiCall(apiUrl);
        populateGenres();

            // Specific search bar
            $('#searchButton').click(function() {
                apiUrl = `https://api.themoviedb.org/3/search/movie?api_key=${apiKey}`;

                const searchTerm = $('#searchInput').val().trim();
                
                $('#searchInput').val('');// Empty the search bar
                apiCall(apiUrl + `&query=${searchTerm}`);
            });

            // Main API call to get the data
            function apiCall(apiUrl, callback = null) {
                $.ajax({
                    url: apiUrl,
                    method: 'GET',
                    success: function(data) {
                        if (typeof callback === 'function') {
                            callback(data); // Return the data
                        } else {
                            populateMovies(data); // Call function to populate movies on the page
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('There was a problem with the fetch operation:', error);
                        if (typeof callback === 'function') {
                            callback(null, error); // Return the error
                        }
                    }
                });
            }

            // Filter movies out using filters values
            $('#filterButton').click(function() {
                var filteredApiCall = apiUrl + `&sort_by=${$('#sortBy').val()}`;// Automatically pull in the sort by data
                var selectedGenres = [];

                // List of checked genres
                var checkedGenres = $('#genreContainer').find('input').each(function() {
                    if($(this).prop('checked')) {
                        selectedGenres.push($(this).attr('id'));
                    }
                });

                // Add the selected genres on, if any
                if (selectedGenres.length > 0) {
                    filteredApiCall += `&with_genres=${selectedGenres.join(',')}`;
                }

                // Check if the language checkbox has been checked
                if ($('#lang').prop('checked')) {
                    filteredApiCall += `&language=${$('#lang').val()}`;
                }

                apiCall(filteredApiCall);
            });

            // Populate the list of genres with the API call
            function populateGenres() {
                var genresUrl = `https://api.themoviedb.org/3/genre/movie/list?api_key=${apiKey}`;

                apiCall(genresUrl, function(data, error) {
                    if (error) {
                        console.error('Error getting genres');
                    } else {
                        data.genres.forEach(genre => {
                            var checkboxContainer = $('<div>').attr('class', 'checkbox-container');

                            // Create the checbox element
                            var checkbox = $('<input>').attr({
                                type: 'checkbox',
                                id: genre.id,
                                name: 'genres',
                                value: genre.name
                            }).addClass('genre-checkbox');

                            // Checkbox label
                            var label = $('<label>').attr('for', genre.id).text(genre.name);

                            // Set the checked attribute to those which have been clicked
                            checkbox.on('click', function() {
                                if ($(this).prop('checked')) {
                                    $(this).attr('checked', 'checked');
                                } else {
                                    $(this).removeAttr('checked');
                                }
                            });

                            checkboxContainer.append(checkbox).append(label);

                            // Append the newly created checkbox to the list
                            $('#genreContainer').append(checkboxContainer);
                        });
                    }
                });
            }

            // Function to populate movies on the page
            function populateMovies(data) {
                const moviesContainer = $('.movies-container');
                moviesContainer.empty();// Clear the space for new movies

                // Loop through results and create HTML for each movie
                $.each(data.results, function(index, movie) {
                    const movieDiv = $('<div>').addClass('movie-card flex justify-between mb-4');
                    const movieMetaDiv = $('<div>').addClass('movie-meta px-3');
                    const title = $('<h3>').text(movie.title);
                    const rating = $('<b>').text("(" + movie.vote_average.toFixed(1) + ")");
                    const img = $('<img>').attr('src', "https://image.tmdb.org/t/p/w200" + movie.poster_path);
                    const overview = $('<p>').text(movie.overview);

                    movieMetaDiv.append(title, rating, overview);
                    movieDiv.append(img, movieMetaDiv);

                    moviesContainer.append(movieDiv);
                });
            }
        });
</script>
